/* Animación para el layout */
@keyframes expand {
    0% {
        width: 50%;
        height: 10%;
        opacity: 0;
    }
    50% {
        width: 50%;
        height: 10%;
        opacity: 1;
    }
    100% {
        width: 75%;
        height: 95%;
        opacity: 1;
    }
}

#layout {
    animation: expand 1.5s ease-out forwards;
}