@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar la fuente Nunito Sans al body */
body {
    font-family: 'Nunito Sans', sans-serif text;
    color: #1f2937;
    @apply h-screen w-screen relative;
}

/* Pseudo-elemento para la imagen de fondo */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/papua-new-guinea-diving.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

/* Pseudo-elemento para el borde con desvanecimiento a negro */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at center, transparent, transparent 40%, rgba(0, 0, 0, 0.95) 100%);
    z-index: -1;
}